<?xml version="1.0"?>
<robot name="warehouse_amr" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="gazebo" default="false"/>
  <xacro:arg name="debug_imu" default="false"/>
  <xacro:arg name="controllers_file" default="$(find amr_description)/config/controllers.yaml"/>
  <xacro:include filename="dimensions.xacro"/>
  <xacro:include filename="inertials.xacro"/>
  <xacro:include filename="collision/chassis_collision.xacro"/>
  <xacro:include filename="collision/platform_collision.xacro"/>
  <xacro:include filename="collision/wheels_collision.xacro"/>
  <xacro:include filename="components/chassis.xacro"/>
  <xacro:include filename="components/platform.xacro"/>
  <xacro:include filename="components/wheels.xacro"/>
  <xacro:include filename="components/casters.xacro"/>
  <xacro:include filename="sensors/lidar.xacro"/>
  <xacro:include filename="sensors/imu.xacro"/>
  <xacro:include filename="sensors/camera.xacro"/>
  <xacro:include filename="gazebo/gazebo.xacro"/>
  <xacro:include filename="gazebo/sensors_gazebo.xacro"/>
  <xacro:include filename="gazebo/ros2_control.xacro"/>
  <material name="graphite"><color rgba="${chassis_rgba}"/></material>
  <material name="metal"><color rgba="${platform_rgba}"/></material>
  <material name="rubber"><color rgba="${rubber_rgba}"/></material>
  <material name="sensor"><color rgba="${sensor_rgba}"/></material>
  <material name="accent"><color rgba="${accent_rgba}"/></material>
  <!-- Kinematic root at floor height; physical inertia lives in chassis_link. -->
  <link name="base_link"/>
  <xacro:chassis/><xacro:platform/><xacro:wheels/><xacro:casters/>
  <xacro:lidar/><xacro:imu debug="$(arg debug_imu)"/><xacro:camera/>
  <xacro:if value="$(arg gazebo)">
    <xacro:gazebo_properties/><xacro:gazebo_sensors/>
    <xacro:amr_control controllers_file="$(arg controllers_file)"/>
  </xacro:if>
</robot>
