<?xml version="1.0"?>
<window><width>1600</width><height>1000</height><dialog_on_exit>false</dialog_on_exit></window>
<plugin filename="MinimalScene" name="3D View">
  <gz-gui><title>Warehouse — obstacle_in_aisle</title><property type="bool" key="showTitleBar">true</property><property type="string" key="state">docked</property></gz-gui>
  <engine>ogre2</engine><scene>scene</scene>
  <ambient_light>0.6 0.6 0.6</ambient_light><background_color>0.22 0.27 0.32</background_color>
  <camera_pose>0 -12 27 0 1.15257199722 1.57079632679</camera_pose>
</plugin>
<plugin filename="GzSceneManager" name="Scene Manager">
  <gz-gui><property type="string" key="state">floating</property><property type="bool" key="showTitleBar">false</property><property type="double" key="width">5</property><property type="double" key="height">5</property></gz-gui>
</plugin>
<plugin filename="InteractiveViewControl" name="View Control">
  <gz-gui><property type="string" key="state">floating</property><property type="bool" key="showTitleBar">false</property><property type="double" key="width">5</property><property type="double" key="height">5</property></gz-gui>
</plugin>
<plugin filename="CameraTracking" name="Camera Tracking">
  <gz-gui><property type="string" key="state">floating</property><property type="bool" key="showTitleBar">false</property><property type="double" key="width">5</property><property type="double" key="height">5</property></gz-gui>
</plugin>
<plugin filename="WorldControl" name="World Control">
  <gz-gui><property type="string" key="state">floating</property><property type="bool" key="showTitleBar">false</property><property type="double" key="height">72</property><property type="double" key="z">1</property>
    <anchors target="3D View"><line own="left" target="left"/><line own="bottom" target="bottom"/></anchors>
  </gz-gui>
  <play_pause>true</play_pause><step>true</step><start_paused>false</start_paused><use_event>true</use_event>
</plugin>
